{
    auto_https off
}

# Com o intuito de realizar um teste de consumo do arquivo .env, o mesmo foi mapeado no container e será utilizado no serviço do qbit

http://homerr.homarr {
    reverse_proxy homarr:7575
}

http://homerr.plex {
    reverse_proxy host.docker.internal:32400
}

http://homerr.sonarr {
    reverse_proxy sonarr:8989
}

http://homerr.radarr {
    reverse_proxy radarr:7878
}

http://homerr.bazarr {
    reverse_proxy bazarr:6767
}

http://homerr.prowlarr {
    reverse_proxy prowlarr:9696
}

http://homerr.seerr {
    reverse_proxy seerr:5055
}

# http://homerr.qbittorrent {
#    reverse_proxy qbittorrent:8080
# }

http://homerr.qbittorrent {
    reverse_proxy qbittorrent:{$QBITTORRENT_WEBUI_PORT}
}

http://homerr.pihole {
    reverse_proxy pihole:80
}